<!-- management/templates/Management/complaint.html -->

{% extends "Management/layout.html" %}

{% block title %} Complaints {% endblock title %}

{% block body %}
  <h4>All Complaints</h4>
  <div class="repoContainer" style="overflow-y: hidden;width: 100%;">
    <table id="code" style="width: 100%; border-collapse: collapse;">
      <tr>
        <th style="width: 15%;">Name</th>
        <th style="width: 15%;">Email</th>
        <th style="width: 15%;">Complaint Type</th>
        <th style="width: 20%;">Complaint Subject</th>
        <th style="width: 30%;">Complaint Message</th>
        <th style="width: 5%;">Actions</th>
      </tr>
      {% for comp in Complaint %}
    <tr>
        <td>{{ comp.author }}</td>
        <td>{{ comp.email }}</td>
        <td>{{ comp.complaint_type }}</td>
        <td>{{ comp.subject }}</td>
        <td>{{ comp.message }}</td>
        <td>
            <a href="{% url 'Management:Update_Complaint' complaint_id=comp.id %}">Update</a>
            <a href="{% url 'Management:Delete_Complaint' complaint_id=comp.id %}">Delete</a>
        </td>
    
      {% endfor %}
    </table>
  </div>
{% endblock body %}
{% block sec_body %}
  <a href="{% url 'Management:Add_Complaint' %}" style="position: relative;">Add a New Complaint</a>
{% endblock sec_body %}
