<!-- management/templates/Management/complaint.html -->

{% extends "Management/layout.html" %}

{% block title %} Complaints {% endblock title %}

{% block body %}
  <h1>All Complaints</h1>
  <div class="repoContainer" style="overflow-y: hidden;">
    <table id="code" style="position: relative; margin-right: 30px; padding: 15px; border-spacing:30px;">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Complaint Type</th>
        <th>Complaint Subject</th>
        <th>Complaint Message</th>
        <th>Actions</th>
      </tr>
      {% for comp in Complaint %}
    <tr>
        <td>{{ comp.author }}</td>
        <td>{{ comp.email }}</td>
        <td>{{ comp.complaint_type }}</td>
        <td>{{ comp.subject }}</td>
        <td>{{ comp.message }}</td>
        <td>
            <a href="{% url 'Management:Update_Complaint' complaint_id=comp.id %}">Update</a>
            <a href="{% url 'Management:Delete_Complaint' complaint_id=comp.id %}">Delete</a>
        </td>
    
      {% endfor %}
    </table>
  </div>
{% endblock body %}
{% block sec_body %}
  <a href="{% url 'Management:Add_Complaint' %}" style="position: relative;">Add a New Complaint</a>
{% endblock sec_body %}
